:root {
  --bg: #282c34;
  --main: #21DDF7;
  --error: #970a0a;
  --success: #26ae26;
  --petCardSize: 145px;
  --bgLight: #586a8e;
  --mainSoft: #c6f8ff;
  --editGreen: #98ffc6;
  --secondary: #d515d5;
  --cardShadow: 0 0 4px 0px rgba(0, 0, 0, 0.25);
  --plutoBG: linear-gradient(transparent, transparent, transparent, transparent, transparent, transparent, transparent, white), url(/public/pluto_background.png);
}

header, footer {
  padding: 15px;
  color: var(--main);
}

header {
  margin-bottom: -57px;
}

footer {
  color: black;
  border-top: 1px solid black;
}

a {
  color: white;
  text-decoration: none;
  transition: 150ms ease-in-out;
}

a:hover {
  color: var(--main);
}

.activePage {
  color: var(--main);
}

.activePage.mainColorLinkAlt {
  color: var(--secondary);
}

.mainColorLink {
  color: var(--main);
}

.mainColorLink:hover {
  color: white;
}

.mainColorLinkAlt:hover {
  color: black;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.gap5 {
  grid-gap: 5px;
}
.gap10 {
  grid-gap: 10px;
}
.gap15 {
  grid-gap: 15px;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.characterCounts {
  font-size: 12px;
  font-weight: 600;
}

.characterCount {
  transition: 150ms ease-in-out;
}

.characterCount.max {
  min-width: 75px;
}

.valid {
  color: var(--success);
}

.inavlid {
  color: var(--error);
}

.w100 {
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  min-height: 75vh;
}

.projects {
  width: 100%;
  flex-wrap: wrap;
  font-size: 0.75em;
}

.project, .card {
  width: 31%;
  overflow: hidden;
  min-height: 150px;
  border-radius: 15px;
  padding-bottom: 15px;
  box-shadow: var(--cardShadow);
}

.pets {
  width: 90%;
  flex-wrap: wrap;
  margin: 0 auto 35px;
}

.mobilePets {
  width: 82%;
}

@media (max-width: 820px) {
  .mobilePets {
    justify-content: space-between;
  }
}

@media (max-width: 390px) {
  .mobilePets {
    justify-content: center;
  }
}

.pet {
  width: auto;
  transition: 150ms ease-in-out;
}

.mainPageBio {
  box-shadow: 2px 5px 20px;
  border: 1px;
  width: 75%;
  border-style: solid;
  padding: 12px;
}

.mobilePets .pet {
  width: var(--petCardSize);
  min-width: var(--petCardSize);
  max-width: var(--petCardSize);
}

.petDetails .petName {
  font-weight: 700;
  padding-bottom: 5px;
  /* text-decoration: underline; */
}

.petDetails .petUpdated {
  padding-top: 5px;
}

.petSubField {
  font-size: 14px;
}

.petSubField strong {
  font-weight: 500;
}

.pet.owned {
  background: var(--mainSoft);
}

.pet.editing {
  background: var(--editGreen);
}

.petForm, .contactForm {
  padding: 0 15px 15px;
}

.petForm input, .contactForm input, .contactForm textarea {
  border-radius: 4px;
  border: 2px solid black;
  padding: 5px 0 5px 10px;
}

.contactForm {
  width: 45%;
}

.petForm .petName {
  max-width: 120px;
}

.petForm .petSpecies {
  max-width: 130px;
}

.petForm .petPower {
  max-width: 65px;
}

.petForm.flexColumn {
  padding-bottom: 35px;
}

.petForm.flexColumn input {
  width: 80%;
  max-width: 80%;
}

.petForm.flexColumn select {
  width: 83%;
  max-width: 83%;
}

.petForm.flexColumn button {
  width: 83%;
  max-width: 83%;
}

.petForm select {
  border-radius: 4px;
  padding: 5px 0 5px 5px;
  border: 2px solid black;
}

.petDetails {
  padding: 15px 0;
}

.petPic {
  max-height: 120px;
}

.topic {
  padding: 8px;
  color: white;
  border-radius: 10px;
  background: black;
}

.plutoBGSection {
  background-size: cover !important;
  background-position: 50% 70% !important;
  background-repeat: no-repeat !important;
  background: black;
}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.errorMessage {
  font-size: 15px;
  color: var(--error);
  font-family: monospace;
}

.buttonLink {
  font-weight: 700;
  background: white;
  padding: 0 15px 5px;
  border-radius: 10px;
  transition: 150ms ease-in-out;
}

.App {
  text-align: center;
}

.App-logo {
  height: 55px;
  pointer-events: none;
}

.scrollMessage {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.registrationForm {
  width: 65%;
}

.registrationForm input {
  font-size: 1.2em;
  border-radius: 4px;
  border: 2px solid black;
  padding: 5px 0 5px 10px;
}

.hoverPointer {
  cursor: pointer;
}

.registrationForm button, .blackButton {
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 5px 0 5px;
  background: black;
  transition: 150ms ease-in-out;
}

.blackButton {
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid black;
}

.registrationForm button.disabled, .blackButton.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.registrationForm button:hover, .blackButton:hover {
  border: 1px solid black;
  color: black;
  background: white;
}

.contactFormField {
  min-width: 250px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.containerWithSpinningLogo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
